@model Fonoart.Web.Models.AtendimentoCadastroModel

<div class="container cadastro" data-url-obter-atendimento="@Url.Action("ObterAtendimento", "Atendimento")" data-codigo-atendimento="@Model.CodigoAtendimento">
    <div class="page-header">
        <h3 class="pull-left titulo">@(string.IsNullOrWhiteSpace(Model.CodigoAtendimento) ? "Novo Atendimento" : string.Format("Atendimento {0}", Model.CodigoAtendimento))</h3>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="salvarAtendimento" data-url-salvar-internacao="@Url.Action("SalvarAtendimentoInternacao", "Atendimento")">Salvar</button>
            <button type="button" class="btn btn-danger" id="cancelarAlteracoes">Cancelar</button>
        </div>
        <div class="clearfix"></div>
    </div>   
    @Html.Partial("_Cliente", Model)        
    <div class="col-md-12 text-center" style="padding-bottom: 10px;">
        <label class="radio-inline">
            <input type="radio" class="icheck" id="checkInternacao" data-valor="@((int)Fonoart.Util.Enum.TipoAtendimento.Internacao)" name="tipoAtendimento"> Internação
        </label>
        <label class="radio-inline">
            <input type="radio" class="icheck" id="checkAmbulatorial" data-valor="@((int)Fonoart.Util.Enum.TipoAtendimento.Ambulatorial)" name="tipoAtendimento"> Ambulatorial
        </label>
    </div>
    @Html.Partial("_Ambulatorial", Model) 
    @Html.Partial("_Internacao", Model) 
</div>


<script src="~/scripts/principal.js"></script>
<script src="~/scripts/atendimento.js"></script>