@model Fonoart.Web.Models.AtendimentoModel

<div class="container listagem">
    <h1 class="page-header">Atendimento</h1>
    <div class="row">
        <div class="form-group col-md-5">
            <label for="cliente">Cliente: </label>
            <input type="text" class="form-control" id="cliente" />
        </div>
        <div class="form-group col-md-4">
            <label for="inputDescricao">Convenio: </label>
            <select class="form-control">
                <option value="">Todos</option>
                @foreach (var convenio in Model.Convenios)
                {
                    <option value="@convenio.CodigoConvenio">@convenio.NomeConvenio</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputDescricao">Fonoaudiologa: </label>
            <select class="form-control">
                <option value="">Todas</option>
                @foreach (var fono in Model.Fonoaudiologas)
                {
                    <option value="@fono.Cpf">@fono.Nome</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="inputDescricao">Situação: </label>
            <select class="form-control">
                <option value="">Todas</option>
                <optgroup label="Situação Internação">
                    @foreach (var item in Model.Situacoes.Where(sit => sit.Tipo == Fonoart.Util.Enum.TipoSituacao.SituacaoInternacao))
                    {
                        <option value="@item.Identificador">@(item.Descricao)</option>
                    }
                </optgroup>
                <optgroup label="Procedimento Ambulatorial">
                    @foreach (var item in Model.Situacoes.Where(sit => sit.Tipo == Fonoart.Util.Enum.TipoSituacao.Procedimento))
                    {
                        <option value="@item.Identificador">@(item.Descricao)</option>
                    }
                </optgroup>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputDescricao">Data Solicitação: </label>
            <input type="text" class="form-control" id="dataSolicitacao" />
        </div>
        <div class="form-group col-md-4">
            <label for="inputDescricao">Alta Administrativa: </label>
            <input type="text" class="form-control" id="altaAdministrativa" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pull-right">
            <p class="pull-right">
                <button type="button" class="btn btn-primary"><i class="fa fa-filter"></i> Filtrar</button>
                <a type="button" href="@Url.Action("CadastroAtendimento", "Atendimento")" class="btn btn-default">Novo Atendimento</a>
            </p>
        </div>
    </div>
    <table id="tabelaAtendimento" class="table table-hover table-striped">
        <thead>
            <tr>
                <th width="30%">Paciente</th>
                <th width="15%">Convênio</th>
                <th width="15%">Fonoaudiologa</th>
                <th width="10%">Situação</th>
                <th width="12%">Solicitação</th>
                <th width="12%">Alta Administrativa</th>
                <th width="6%" class=""></th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
    <hr />
</div>

@*@Html.Partial("_ModalProduto")*@


<script src="~/scripts/atendimento.js"></script>